{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Password {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/accueil.css") }}">
{% endblock %}
{% block body %}
    <h2>Bonjour, {{ user.nom }}</h2>
    <hr>
    <div class="col-md-4 mx-auto">
        {{ form_start(formUser) }}
        {{ form_row(formUser.oldPassword) }}
        {{ form_row(formUser.password) }}
        {{ form_row(formUser.confirmPassword) }}
        <input type="submit" name="" class="btn btn-warning col-md-12 mt-3" id="" value="Inscription">

        {{ form_end(formUser) }}
    </div>
{% endblock %}