{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Dashboard | Ajouter un produit {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/admin/produits.css") }}">
    <link rel="stylesheet" href="{{ asset("css/admin/select2.css") }}">
{% endblock %}

{% block h1 %}Modifier un produit{% endblock %}

{% block body %}

    <div class="col-md-4 mx-auto">

        {{ form_start(formProduit) }}{# balise ouvrante form #}

        {{ form_row(formProduit.titre) }}

        {{ form_row(formProduit.prix) }}

        {{ form_row(formProduit.category) }}

        {{ form_row(formProduit.matieres) }}

        {{ form_row(formProduit.stock) }}

        {{ form_row(formProduit.imageFile, {'attr' : {"onChange": "loadFile(event)"} }) }}

        <div class="col-md-12 text-center mt-3 display-img">
                <img id="image" style="width: 300px"
                        {% if produit.image %}
                            src="{{ asset('images/imagesUpload/' ~ produit.image) }}"
                            {# src="{{ asset('images/imagesUpload/#{produit.image}') }}" #}
                        {% endif %}
                >
                {% if produit.image %}
                    <a href="{{ path('delete_img', {"id": produit.id}) }}">
                        <div class="delete-cross border">X</div>
                    </a>
                {% endif %}
        </div>

        {% if produit.image %}
            <p>Retirer l'image</p>
            <div>
                <label for="">
                    <input type="radio" name="imageQuestion" value="non" checked>
                    Non
                </label>
                <label for="">
                    <input type="radio" name="imageQuestion" value="oui">
                    Oui
                </label>
            </div>


        {% endif %}


        <input type="submit" class="btn btn-success col-md-12 mt-3" value="Modifier">

        {{ form_end(formProduit) }}{# balise fermante form #}

    </div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/poduct.js") }}"></script>
    <script>
        let loadFile = (event) => {
            let image = document.getElementById('image');
            image.src = URL.createObjectURL(event.target.files[0]);
        }
    </script>

    <script src="{{  asset('js/jquery.min.js') }}"></script>
    <script src="{{  asset('js/select2.js') }}"></script>
    <script>
        $(function(){
            $('.select2').select2();
        })
    </script>
{% endblock %}